@import "./f-mixing";

footer {
    
    .f-container {
        // display: grid;
        .sponsor {
            background-color: #F2F2F2;
            padding: 20px 0 20px 0px;
            margin-top: 40px;
            width: 100%;
            .s-img {
                width: 90%;
                margin: auto;
                justify-content: space-around;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                img {
                    max-width: 45px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }  
        }
        .contact-us {
            // display: grid;
            background-image: url(../../img/footer-background-tablet.png);
            // background-size: 100%;
            max-height: 1291px;
            background-repeat: no-repeat;
            background-size:cover ;
            .footer-logo {
                display: grid;
                grid-template-columns: 1fr 3fr;
                padding-top: 50px;
                color: white;
                font-weight: lighter;
                margin-bottom: 30px;
                img {
                    float: right;
                    padding-right: 10px;
                }
            }
        }
        p{
            width: 80%;
            text-align: center;
            margin: auto;
            color: #CDCDCD;
            margin-bottom: 60px;
        }
        .f-line {
            @include footerline(60px);
        }
        .f-title {
            color: white;
            text-align: center;
        }
        .contact-form {
            width: 85%;
            margin: auto;
            padding-top: 60px;
            .input-fields {
                display: grid;
                input[type=text], [type=email], [type=number] {
                    @include forminputs;
                }
                .message {
                    textarea {
                        @include forminputs;
                        height: 320px;
                        font-family: 'Poppins', sans-serif;
                        
                    }
                }
                .contact-button {
                        background-color: rgba($color: #658DA7, $alpha: 0.8);
                        color: white;
                        border: none;
                        width: 100%;
                        height: 40px;
                        font-size: 15px;
                        font-weight: bold;
                        border-radius: 5px;
                        cursor: pointer;
                        margin-bottom: 60px;
                }
                .contact-button:hover {
                    background-color: rgba($color: #658DA7, $alpha: 1.0);
                }
            }
        }
        .f-line2 {
            @include footerline(40px);
        }
        .f-icon {
            width: 60%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            img {
                max-width: 23px;    
                margin-bottom: 35px;
            }
        }
        .copyright {
            color: #CDCDCD;
            font-size: 10px;
            text-align: center;
            background-color: #FFFFFF20;
            padding: 8px 0;
        }
    }
}
@media only screen and (min-width: 600px) {
    footer {
        .f-container {
            p {
                text-align: left;
            }
            .sponsor {
                padding: 20px 0 15px 0px;
                .s-img {
                    img {
                        max-width: 75px;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }  
            }
            .contact-us {
                .footer-logo {
                    grid-template-columns: 1fr 5fr;
                }
            }
        }

    }
}

@media only screen and (min-width: 768px) {
    footer {
        .f-container {
            // .sponsor {
            //     .s-img {
            //         img {
            //             max-width: 45px;
            //             margin-right: 10px;
            //             margin-left: 10px;
            //         }
            //     }  
            // }
            .contact-form {
                .input-fields {
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 15px;
                    .number {
                        padding-top: 8px;
                    }
                    .email {
                        grid-column: 1/3;
                    }
                    .message {
                        grid-column: 1/3;
                    }
                    .submit {
                        grid-column: 1/3;
                    }
                }
            }
        }
    }
  }