body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

.testemoinial {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
}

.testemoinial .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
  color: #658DA7;
}

.testemoinial .title hr {
  width: 270px;
  margin: auto;
  height: 3px;
  background: #658DA7;
  border-radius: 1rem;
}

.testemoinial .person {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media only screen and (min-width: 1440px) {
  .testemoinial .person {
    margin-top: 2rem;
  }
}

.testemoinial .person .name {
  font-size: 24px;
}

.testemoinial .person img {
  border-radius: 50%;
}

@media only screen and (min-width: 1440px) {
  .testemoinial .person img {
    height: 25vh;
  }
}

.testemoinial .commentaire {
  margin: 1rem;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.testemoinial .commentaire p {
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  .testemoinial {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "title title" "person commentaire";
  }
  .testemoinial .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
  }
  .testemoinial .person {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: person;
  }
  .testemoinial .commentaire {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: commentaire;
  }
}

@media only screen and (min-width: 1440px) {
  .testemoinial {
    -ms-grid-columns: 30% 60% 10%;
        grid-template-columns: 30% 60% 10%;
    font-size: 16px;
    margin-right: 3rem;
  }
  .testemoinial .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

@media only screen and (min-width: 1440px) and (min-width: 1440px) {
  .testemoinial .title {
    font-size: 32px;
  }
}

.pricing {
  display: -ms-grid;
  display: grid;
  margin-top: 2rem;
}

.pricing .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
  color: #658DA7;
}

.pricing .title hr {
  width: 192px;
  margin: auto;
  height: 3px;
  background: #658DA7;
  border-radius: 1rem;
}

@media only screen and (min-width: 1440px) {
  .pricing .title {
    font-size: 32px;
  }
}

.pricing .s1,
.pricing .s2,
.pricing .s3 {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 360px;
  border: none;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  border-radius: 20px;
  margin: 2.5rem 0rem;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.pricing .s1:hover,
.pricing .s2:hover,
.pricing .s3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pricing .s1:hover .prix,
.pricing .s2:hover .prix,
.pricing .s3:hover .prix {
  background-color: #658da7;
}

.pricing .s1:hover .detail,
.pricing .s2:hover .detail,
.pricing .s3:hover .detail {
  background-color: #658da7;
}

.pricing .s1 .heading,
.pricing .s2 .heading,
.pricing .s3 .heading {
  font-size: 24px;
  padding: 2rem 0rem;
  font-weight: bold;
}

.pricing .s1 .prix,
.pricing .s2 .prix,
.pricing .s3 .prix {
  font-size: 28px;
  padding: 1rem 0rem;
  font-weight: bold;
  text-align: center;
  background-color: #f0f0f0;
  width: 100%;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.pricing .s1 .ul,
.pricing .s2 .ul,
.pricing .s3 .ul {
  line-height: 36px;
}

.pricing .s1 .ul hr,
.pricing .s2 .ul hr,
.pricing .s3 .ul hr {
  width: 120%;
  margin-left: -3rem;
}

.pricing .s1 .ul li,
.pricing .s2 .ul li,
.pricing .s3 .ul li {
  list-style-type: none;
}

.pricing .s1 .detail,
.pricing .s2 .detail,
.pricing .s3 .detail {
  width: 90px;
  background-color: #f0f0f0;
  height: 42px;
  border-radius: 13px;
  margin-bottom: 1.5rem;
  padding: 1rem 0rem 0rem 2rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pricing .s1 .detail:hover,
.pricing .s2 .detail:hover,
.pricing .s3 .detail:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pricing .s1 .detail:hover a,
.pricing .s2 .detail:hover a,
.pricing .s3 .detail:hover a {
  color: white;
}

.pricing .s1 .detail a,
.pricing .s2 .detail a,
.pricing .s3 .detail a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .pricing {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pricing .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .pricing .s1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .pricing .s2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .pricing .s3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media only screen and (min-width: 1440px) {
  .pricing {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
  }
  .pricing .s1 {
    width: 70%;
  }
  .pricing .s2 {
    width: 70%;
  }
  .pricing .s3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */