body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

#service .container {
    width: 90%;
    background-color: rgba ( hsl(197, 6%, 78%));
    margin: auto;
    text-align: center;
    article:first-child {
        h2 {
            color: #658DA7;
            font-weight: 600;
        }
        .service-line {
            background-color: #c1d5db;
            margin: 20px auto;
            width: 10%;
            height: 5px;
            border: none;
        }
        .service-sous-titre {
            text-align: center;
            color: #6f6E6E;
            font-weight: 400;
            font-size: large;
        }
    }
    .service-flex-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-color: rgba hsl(197, 6%, 78%);
        background-color: #e7e7e7;
        .service-cards {
            display: inline-block;
            width: 28%;
            background-color: #f3f3f3;
            border: none;
            border-radius: 10px;
            margin: 2%;
            .service-image {
                float: left;
            }
            .service-titel {
                display: inline-flex;
                color: #658DA7;
                width: 40%;
                font-weight: 700;
                font-size: 18px;
                padding-top: 2em;
                text-align: center;
            }
            .service-description {
                text-align: justify;
                color: #6f6E6E;
                width: 60%;
                display: none;
            }
            .service-info {
                display: block;
                float: right;
                padding: 5% 2%;
                a {
                    color: #6f6E6E;
                }
                a:hover {
                    color: #e7e7e7;
                }
            }
        }
    }
}