     //Start media mobile et tablet//
     @mixin mobile {
         @media (max-width: 900px) {
             .container1 {
                 width: 100%;
                 article:first-child {
                     h2 {
                         font-size: 1.5em;
                         margin-top: 10%;
                     }
                     .service-sous-titre {
                         margin: 2% auto;
                         width: 80%;
                     }
                 }
                 .service-flex-cards {
                     display: block;
                     .service-cards {
                         display: block;
                         background-image: url(../../img/service-back-mobile.jpg);
                         background-size: cover;
                         width: 80%;
                         margin: 10% auto;
                         .service-image {
                             display: none;
                         }
                         .service-cards-part2 {
                             .service-titel {
                                 font-size: 3em;
                                 margin-top: 10%;
                             }
                             .service-info {
                                 width: 40%;
                             }
                         }
                         .service-description {
                             transform: rotateX(180deg);
                         }
                     }
                 }
                 .service-presentation {
                     grid-template-columns: 1fr;
                     grid-template-rows: 1fr 1fr;
                     margin: auto;
                     .service-pre-part1 {
                         grid-row: 1/2;
                         h3 {
                             text-align: center;
                             margin-top: 5%;
                         }
                         .text1 {
                             width: 70%;
                             text-align: center;
                             font-size: 1em;
                         }
                         .service-pre-btn {
                             margin: 5%;
                             width: 40%;
                             height: 3em;
                             font-size: 1.4em;
                             color: #ffffff;
                             float: none;
                         }
                         .service-pre-btn:hover {
                             color: #000000;
                         }
                     }
                     .service-pre-part2 {
                         grid-column: 1/2;
                         grid-row: 2/3;
                     }
                 }
             }
         }
     }
     
     //End media query mobile et tablet//
     //Start media query medium //
     @mixin medium {
         @media (min-width: 767px) and (max-width: 1527px) {
             .container1 {
                 article:first-child {
                     .service-sous-titre {
                         max-width: 90%;
                         margin: auto;
                     }
                 }
                 .service-flex-cards {
                     display: grid;
                     grid-template-columns: 1fr 1fr;
                     grid-template-rows: 1fr;
                     .service-cards {
                         display: grid;
                         grid-template-columns: 1fr 1fr;
                         grid-template-rows: 1fr;
                         width: 80%;
                         margin: 5% auto;
                         .service-image {
                             display: grid;
                             grid-column: 1/2;
                             grid-row: 1/2;
                             width: 100%;
                             height: 200px;
                         }
                         .flip-card {
                             .service-cards-part2 {
                                 .service-titel {
                                     font-size: 1em;
                                     padding: 1.8em .1em 0;
                                 }
                                 .service-info {
                                     width: 50%;
                                     font-size: .6em;
                                     border-radius: 7px;
                                     padding: 2em 1em;
                                     a {}
                                 }
                             }
                             .service-description {
                                 transform: rotateX(180deg);
                             }
                         }
                         .flip-card:hover {
                             transform: rotateX(180deg);
                             z-index: 9;
                         }
                     }
                 }
                 .service-presentation {
                     grid-template-columns: 1fr;
                     grid-template-rows: 1fr 1fr;
                     margin: auto;
                     .service-pre-part1 {
                         grid-row: 1/2;
                         grid-column: 1/3;
                         h3 {
                             text-align: center;
                             margin-top: 5%;
                         }
                         .text1 {
                             text-align: center;
                         }
                         .service-pre-btn {
                             float: none;
                             margin-bottom: 5%;
                         }
                     }
                     .service-pre-part2 {
                         grid-column: 1/3;
                         grid-row: 2/3;
                     }
                 }
             }
         }
     }
     
     //End media query medium //