body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container article:first-child h2 {
  color: #658DA7;
  font-weight: 600;
  margin-top: 3%;
}

.container article:first-child .service-line {
  background-color: #c1d5db;
  margin: 20px auto;
  width: 10%;
  height: 5px;
  border: none;
}

.container article:first-child .service-sous-titre {
  color: #6f6E6E;
  padding: 1em;
  font-weight: 400;
  font-variant: small-caps;
  font-size: 2em;
}

@media only screen and (min-width: 968px) and (max-width: 1199px) {
  .container article:first-child .service-sous-titre {
    max-width: 70%;
    margin: auto;
  }
}

.container .service-flex-cards {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 767px) {
  .container .service-flex-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .container .service-flex-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 968px) and (max-width: 1199px) {
  .container .service-flex-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.container .service-flex-cards .service-cards {
  background-color: #ffffff;
  border: transparent;
  border-radius: 10px;
  margin: 3% auto;
}

@media only screen and (max-width: 767px) {
  .container .service-flex-cards .service-cards {
    display: -ms-grid;
    display: grid;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .container .service-flex-cards .service-cards {
    display: inline-block;
    width: 28%;
    height: 200px;
  }
}

@media only screen and (min-width: 968px) and (max-width: 1199px) {
  .container .service-flex-cards .service-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-columns: 1/3;
    width: 90%;
    margin: 5% auto;
  }
}

.container .service-flex-cards .service-cards .service-image {
  float: left;
  width: 250px;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .container .service-flex-cards .service-cards .service-image {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media only screen and (min-width: 968px) and (max-width: 1199px) {
  .container .service-flex-cards .service-cards .service-image {
    width: 100%;
  }
}

.container .service-flex-cards .service-cards .service-cards-part2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1%;
}

@media only screen and (max-width: 767px) {
  .container .service-flex-cards .service-cards .service-cards-part2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.container .service-flex-cards .service-cards .service-titel {
  color: #658DA7;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  width: 100%;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media only screen and (min-width: 968px) and (max-width: 1199px) {
  .container .service-flex-cards .service-cards .service-titel {
    grid-rows: 2/3;
  }
}

.container .service-flex-cards .service-cards .service-info {
  display: block;
  float: right;
  padding: 10% 0;
}

@media only screen and (min-width: 968px) and (max-width: 1199px) {
  .container .service-flex-cards .service-cards .service-info {
    grid-rows: 2/3;
  }
}

.container .service-flex-cards .service-cards .service-info a {
  color: #6f6E6E;
}

.container .service-flex-cards .service-cards .service-info a:hover {
  color: #e7e7e7;
}

.container .service-flex-cards .service-description {
  text-align: justify;
  color: #ffffff;
  width: 28%;
  height: 200px;
  border: 10px black solid;
  background-color: coral;
}

.container .service-presentation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 2.5%;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin: auto;
  }
}

.container .service-presentation .service-pre-part1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation .service-pre-part1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.container .service-presentation .service-pre-part1 h3 {
  font-size: 3em;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation .service-pre-part1 h3 {
    text-align: center;
    margin-top: 5%;
  }
}

.container .service-presentation .service-pre-part1 .text1 {
  margin: 5% auto;
  font-size: 24px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation .service-pre-part1 .text1 {
    width: 70%;
    text-align: center;
  }
}

.container .service-presentation .service-pre-part1 .service-pre-btn {
  margin-top: 5%;
  background-color: #658da7;
  border-radius: 30px;
  border: none;
  width: 40%;
  height: 2em;
  font-size: 2em;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation .service-pre-part1 .service-pre-btn {
    margin: 2%;
    width: 60%;
    font-size: 1.5em;
    color: #ffffff;
  }
}

.container .service-presentation .service-pre-part1 .service-pre-btn:hover {
  width: 60%;
  background-color: #658da7;
  color: white;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation .service-pre-part1 .service-pre-btn:hover {
    color: #000000;
  }
}

.container .service-presentation .service-pre-part2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation .service-pre-part2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.container .service-presentation .service-pre-part2 img {
  width: 80%;
  height: 400px;
  float: right;
}

@media only screen and (max-width: 767px) {
  .container .service-presentation .service-pre-part2 img {
    margin: 5% auto;
    float: none;
  }
}

.hidden, .container .service-flex-cards .service-description {
  display: none;
}

.visible {
  display: block;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */